.burga {
    display: flex;
    flex-direction: column;
    gap: .3rem;
    position: absolute;
    right: 2rem;
    height: 2.1rem;
}
.burgas {
    height: .45rem;
    width: 2.5rem;
    background-color: #fff;
    transition: transform .3s;
    border-radius: .2rem;
}
.burga0 {
    position: absolute;
    top: .8rem;
    transform: rotate(45deg);
}
.burga1 {
    opacity: 0;
}
.burga2 {
    transform: rotate(-45deg);
}

@media (min-width: 769px) {
    .burga {
        display: none;
    }
}