.header {
    background-image: url(../../assets/img/yogamat.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 15rem;
}
.header__nav {
    background-color: #0005;
    backdrop-filter: blur(.13rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    position: relative;
}
.header__nav-ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.header__nav-ul li a {
    color: #fff;
    padding: .5rem;
    border-radius: .2rem;
    transition: .2s;
    font-size: 1.15rem;
    -webkit-tap-highlight-color: transparent;
}
.header__nav-ul li a:hover {
    background-color: #0005;
}
.header__title-cont {
    color: #fff;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}
.header__title-cont h1 {
    font-size: 2.5rem;
}
.header__title-cont span {
    font-size: 1.2rem;
    letter-spacing: .5rem;
    text-transform: uppercase;
}

@media (max-width: 768px) {
    .header__nav-ul {
        position: absolute;
        background-color: #333;
        height: calc(100vh - 15rem);
        top: 15rem;
        right: 0;
        width: 60%;
        display: none;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        gap: 2rem;
        padding: 2rem;
        animation-name: nav;
        animation-duration: .3s;
        z-index: 1;
    }
    .header__nav-ul a {
        font-size: 1.5rem;
    }
}

.no-scroll {
    overflow: hidden;
}
.ocultarNav {
    display: none;
    background-color: #0006;
    position: absolute;
    top: 15rem;
    height: 100vh;
    width: 100%;
}
.flex {
    display: flex;
}

@keyframes nav {
    0% {
        right: -100%;
    }
    100% {
        right: 0;
    }
}